<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StockifyWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <StockifyWeb.Properties.Settings>
      <setting name="StockifyWeb_localhost_ExistenciasWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/ExistenciasWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_ProductoWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/ProductoWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_MovimientoWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/MovimientoWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_OrdenSalidaWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/OrdenSalidaWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_OrdenCompraWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/OrdenCompraWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_CuentaUsuarioWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/CuentaUsuarioWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_OrdenVentaWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/OrdenVentaWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_CategoriaWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/CategoriaWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_UsuarioWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/UsuarioWS</value>
      </setting>
      <setting name="StockifyWeb_localhost_OrdenIngresoWS" serializeAs="String">
        <value>http://localhost:8080/StockifyWS/OrdenIngresoWS</value>
      </setting>
    </StockifyWeb.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmpresaWSPortBinding" />
        <binding name="ExistenciasWSPortBinding" />
        <binding name="OrdenVentaWSPortBinding" />
        <binding name="OrdenCompraWSPortBinding" />
        <binding name="CuentaUsuarioWSPortBinding" />
        <binding name="OrdenSalidaWSPortBinding" />
        <binding name="CategoriaWSPortBinding" />
        <binding name="MovimientoWSPortBinding" />
        <binding name="UsuarioWSPortBinding" />
        <binding name="ProductoWSPortBinding" />
        <binding name="OrdenIngresoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/StockifyWS/EmpresaWS"
        binding="basicHttpBinding" bindingConfiguration="EmpresaWSPortBinding"
        contract="StockifyWS.EmpresaWS" name="EmpresaWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/ExistenciasWS"
        binding="basicHttpBinding" bindingConfiguration="ExistenciasWSPortBinding"
        contract="StockifyWS.ExistenciasWS" name="ExistenciasWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/OrdenVentaWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding"
        contract="StockifyWS.OrdenVentaWS" name="OrdenVentaWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/OrdenCompraWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenCompraWSPortBinding"
        contract="StockifyWS.OrdenCompraWS" name="OrdenCompraWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/CuentaUsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="CuentaUsuarioWSPortBinding"
        contract="StockifyWS.CuentaUsuarioWS" name="CuentaUsuarioWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/OrdenSalidaWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenSalidaWSPortBinding"
        contract="StockifyWS.OrdenSalidaWS" name="OrdenSalidaWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/CategoriaWS"
        binding="basicHttpBinding" bindingConfiguration="CategoriaWSPortBinding"
        contract="StockifyWS.CategoriaWS" name="CategoriaWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/MovimientoWS"
        binding="basicHttpBinding" bindingConfiguration="MovimientoWSPortBinding"
        contract="StockifyWS.MovimientoWS" name="MovimientoWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/UsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
        contract="StockifyWS.UsuarioWS" name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
        contract="StockifyWS.ProductoWS" name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/StockifyWS/OrdenIngresoWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenIngresoWSPortBinding"
        contract="StockifyWS.OrdenIngresoWS" name="OrdenIngresoWSPort" />
    </client>
  </system.serviceModel>
</configuration>